div{
    height: 100%;
    border-radius: 10px;
}

h1{
    padding-top: 5px;
    margin-left: 15px;
    color: #0494d4; 
}

p{  
    margin-left: 15px;
    color: #407b32; 
}

img{
    margin-left: 15px;
    height: 200px;
    width: 180px;
}